.authForm_lock_img{
		position:absolute;
		top:-50px;
		left: -40px;
		width: 72px;
		height: auto;
}

.authForm_container{
	width: 429px;
height: 523px;
}


@media (max-width: 450px){

	.authForm_lock_img{
		top:-60px;
		left: 50px;
}

.authForm_container{
	width: 90%;
height: 523px;
}


}